<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mystyle.css">
    <title>Enter Your Name</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <h1>Welcome 👋</h1>
            <p>Enter your info to continue</p>
            <form action="/users" method="POST">
                <label for="username">Your name</label>

                <input type="text" id="username" name="username" placeholder="Enter your name..." required
                    autocomplete="name">

                <label for="useremail">Your email</label>

                <input type="email" id="useremail" name="useremail" placeholder="Enter your email..." required
                    autocomplete="email">

                <label for="userage">Your age</label>

                <input type="number" id="userage" name="userage" placeholder="Enter your age..." required
                    autocomplete="number">

                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</body>

</html>